.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  color: $primary-white-color;
  text-align: center;
  height: 600px;
  padding: 200px 0;
  background-image: linear-gradient(rgba(55, 63, 149, 0.4), rgba(47, 48, 58, 0.4)),
    url(/images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  @include font-style(900, calc(60 / 44), 0.06em, inherit, 44px); 
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px auto;
}

.hero__button { 
  min-width: 216px; 
  @extend .button;
  @include transition(background-color);
  &:hover,
  &:focus {
  background-color: $accent-color-main-button;
}
}