.team {
  background-color: $gray-color;
  padding: 94px 0;
}
.team__section-title {
  margin-bottom: 44px;
}
.team__card {
  flex-basis: 270px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} 
.team__overlay {
  padding: 30px 0;
}
.team__name,
.team__job {
   @include font-style(500, calc(19 / 16), 0.03em, inherit, 16px); 
}
.team-photo {
  display: block;
}
.team__name {
  margin-bottom: 10px;
  text-align: center;
}
.team__job {
  color: $secondary-black-color;
  text-align: center;
}
